.App {
  font-family: "Monospace", BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
}

.video-container {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom:35%;
}
.video {
  position: absolute;
  top: 0;
  left: 20%;
  width: 1211px;
  height: 681px;
}